.pos-receipt-qrcode{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.pos-receipt-contanct-header{
    margin-right:  0.25em;
    font-weight: bold;
}
.pos-receipt-detail{
    font-size: 75%;
}
.pos-receipt-table{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse
}


.pos-receipt-table th {
   padding:  0.25rem;
}
.pos-receipt-table td {
  padding:  0.25rem;
}
.pos-receipt-table-stripped tr:nth-child(odd) {
   background-color:  #f2f2f2;
}
